<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Product Id="*" Name="SetupProject1" Language="1033" Version="1.0.0.0" Manufacturer="Microsoft" UpgradeCode="e14c5465-7c0c-4e71-bddc-81d272b222c5">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="SetupProject1" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SetupProject1" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<Component Id="ProductComponent"> 
      <File Source="$(var.OctaneMyItems.TargetPath)" />
      <File Source="$(var.OctaneMyItemsSyncService.TargetPath)" />
      <RegistryKey Root="HKCU"
                    Key="Software\Microsoft\Office\Outlook\Addins\OctaneMyItems"
                    Action="createAndRemoveOnUninstall">
        <RegistryValue Type="string" Name="Description" Value="OctaneMyItems" KeyPath="yes"/>
        <RegistryValue Type="string" Name="FriendlyName" Value="OctaneMyItems" />
        <RegistryValue Type="integer" Name="LoadBehavior" Value="3" />
        <RegistryValue Type="string" Name="Manifest" Value="[INSTALLFOLDER]\OctaneMyItems.vsto|vstolocal" />
      </RegistryKey>
      <RegistryKey Root="HKCU"
                   Key="Software\Microsoft\Office\Outlook\FormRegions\IPM.Task.Octane"
                   Action="createAndRemoveOnUninstall">
        
        <RegistryValue Type="string" Name="OctaneMyItems.OctaneTaskDetail" Value="=OctaneMyItems" KeyPath="yes"/>
      </RegistryKey>
      </Component> 
		</ComponentGroup>
	</Fragment>
</Wix>
